@media(max-width:481px){
    
    #empData{
        width:100%;
        overflow-x: scroll;
        scrollbar-width: none;

    }
    #btnButton{

        display: flex;
        justify-content: center;
        align-items: center;
        gap:10px;
    }
}

@media (max-width:1200px){
    #empData{
        width:100%;
       
    }
   
     #btnButton{

        display: flex;
        justify-content: center;
        align-items: center;
        gap:10px;
    }
}